/* 
********************************************************************************
* Configurações Gerais
********************************************************************************* 
*/

:root {
    --vermelho: #E50914;
    --preto: #141414;
    --cinza: #AAA;
    --branco: #FFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--preto);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--branco);
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    color: var(--vermelho);
    font-family: 'Arial Black', Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-left: 15px;
}

header nav a {
    text-decoration: none;
    color: var(--branco);
    margin-right: 10px;
}

header nav a:hover {
    color: var(--cinza);
}

/* 
********************************************************************************
* Filmne Principal
********************************************************************************* 
*/

.container {
    margin-left: 20px;
}

.botao {
    background-color: rgba(0, 0, 0, 0.50);
    border: none;
    color: var(--branco);
    padding: 15px 30px;
    margin-right: 12px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    background-color: var(--branco);
    color: var(--preto);
}

.botao i {
    margin-right: 8px;
}

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url('/img/alerta_vermelho_bg.jpg');
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 90px;
}

.filme-principal .titulo {
    margin-top: 15%;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.filme-principal .container {
    width: 70%;
}

/* 
********************************************************************************
* Box de filmes
********************************************************************************* 
*/

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filme {
    margin-top: 10px;

}